header {
    font-family: sans-serif;
    text-align: center;
    background-color: blanchedalmond;
}

article {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
}

body {
    
}

.left {
    
    
}

.right {
    background-color: blanchedalmond;

}

footer {
     background-color: blanchedalmond;
}